@import "../App/style.scss";

.cart {
    margin-top: 20px;
}

.cart_container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: white;
}

@media (max-width: 600px) {
    .cart_container {
        grid-template-columns: 1fr;
        background-color: white;
    }
}