@import "../../App/style.scss";

.type-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        font-weight: 400;
        font-size: 20px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.009em;
        color: $coral;
        background: rgba($color: $coral, $alpha: 0.1);
        border-radius: 20px;
        padding: 4px 6px;
        margin-bottom: 10px;
        div {
            border-radius: 15px;
            padding: 4px 15px;
        }
}