@import "./../../App/style.scss";

.main__head_contaienr {
    @include flex(space-between, center);
    min-height: 110px;
    .main_nav {
        @include flex(flex-start, flex-start);
        flex-direction: column;
        align-self: flex-start;
        .branch {
            padding-top: 17px;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.009em;
            color: $fontgray;
            span {
                &::after {
                    content: "";
                    display: inline-block;
                    margin: 1px 10px;
                    width: 4px;
                    height: 4px;
                    background-image: url("./../../../../public/img/rightarr.svg");
                }
            }
            span:last-child {
                color: black;
                font-weight: 500;
                &::after {
                    display: none;
                }
            }
        }
        .curr {
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 1px;
            padding-top: 13px;
            &::before {
                background-color: white;
                border-radius: 50%;
                margin-right: 10px;
                margin-right: 20px;
                content: "";
                display: inline-block;
                width: 26px;
                height: 26px;
                background-image: url("./../../../../public/img/backarr.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .view_bar {
        @include flex (space-between, center);
        .main_sort {
            display: inline-block;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.009em;
            margin-right: 30px;
            &::after {
                content: "";
                margin-left: 7px;
                display: inline-block;
                width: 14px;
                height: 11px;
                background-image: url("./../../../../public/img/sort.svg");
            }
        }
        .view {
            width: 43px;
            height: 22px;
            display: inline-block;
            position: relative;
            .view_cards {
                position: absolute;
                display: inline-block;
                background-color: $coral;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                z-index: 2;
                bottom: 2px;
                &::before {
                    position: absolute;
                    top: 6px;
                    left: 5.8px;
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-image: url("./../../../../public/img/catalog.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
            .view_list {
                position: absolute;
                display: inline-block;
                width: 43px;
                height: 18px;
                background-color: white;
                border-radius: 50px;
                &::before {
                    position: absolute;
                    top: 4px;
                    right: 7px;
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-image: url("./../../../../public/img/viewlist.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
        }
    }

}