@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap');

$font: 'Fira Sans', sans-serif;
$backgray: #E5E5E5;
$coral: #C93E33;
$fontgray: #b3b3b3;

@mixin flex($jc, $ai) {
    flex-wrap: wrap;
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    font-family: $font;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: $backgray;
}

