@import "../../App/style.scss";

.header__body {
    background: white;
    .header__body_container {
        min-height: 110px;
        @include flex(flex-start, center);
        div, img {
            margin-right: 15px;
        }
        .logo-and-friends {
            @include flex(center, center);
            .logo {
            width: 80px;
            height: 68px;
            background-image: url(../../../../public/img/logo.svg);
            background-position: center;
            background-size: contain;
            }
            .h {
                width: 115px;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.009em;
                padding-left: 8px;
            }
            .catalog {
                width: 145px;
                text-align: center;
                background: #C93E33;
                padding: 12px 33px 12px 55px;
                border-radius: 4px;
                color: white;
                margin-right: 0;
                position: relative;
                &::before {
                    position: absolute;
                    left: 21px;
                    top: 13px;
                    content: "";
                    display: block;
                    width: 18px;
                    height: 18px;
                    background-image: url("./../../../../public/img/catalog.svg");
                }
            }
        }

        .input {
            max-width: 545px;
            flex: 2 1 auto;
            border-radius: 4px;
            border: 1px solid #E6E6E6;
            padding: 12px 2px 12px 48px;
            position: relative;
            input {
                width: 100%;
                font-weight: 300;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.009em;
            }
            &::before {
                position: absolute;
                left: 17px;
                top: 13px;
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                background-image: url("./../../../../public/img/search.svg");
            }
            &::after {
                position: absolute;
                right: 16px;
                top: 15px;
                content: "";
                display: block;
                width: 15px;
                height: 12px;
                background-image: url("./../../../../public/img/enter.svg");
            }
        }
        .fav-cart {
            margin: 0;
            margin-left:auto;
            display: flex;
            align-items: flex-end;
            .link {
                text-decoration: none;
                color: inherit;
            }
            button {
                height: 45px;
                width: 63px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                color: inherit;
                border-radius: 10px;
                transition: 0.3s;
            }
            .fav {
                margin-right: 10px;
                position: relative;
                &::before {
                    position: absolute;
                    left: 20px;
                    bottom: 24px;
                    content: "";
                    display: block;
                    width: 19px;
                    height: 18px;
                    background-image: url("./../../../../public/img/fav.png");
                }
            }
            .cart {
                position: relative;
                    &:hover {
                    color: $coral;
                    background-color: rgba($color: rgb(177, 177, 177), $alpha: 0.1);
                }
                &::before {
                    position: absolute;
                    left: 20px;
                    bottom: 24px;
                    content: "";
                    display: block;
                    width: 19px;
                    height: 18px;
                    background-image: url("./../../../../public/img/cart.png");
                }
                .cart-counter {
                    position: absolute;
                    z-index: 999;
                    top: -5px;
                    right: 2px;
                    width: 17px;
                    height: 17px;
                    border: 2px solid white;
                    border-radius: 50%;
                    background-color: $coral;
                    font-size: 10px;
                    font-weight: 600;
                    color: white;
                    padding-top: 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.009em;
        }
    }
}

    @media (max-width: 800px) {
        .header__body_container {
            @include flex(center, center);
            flex-direction: column;
            .fav-cart {
                margin-left: 0 !important;
            }
            div {
                margin: 10px;
            }
        }
     
    }


    @media (max-width: 490px) {

    }