@import "../../../../App/style.scss";

.items_card {
    border: 1px solid #e6e6e6;
    @include flex (flex-start, flex-start);
    flex-direction: column;
    min-height: 425px;
    width: 280px;
    padding: 20px;
    .bonuses {
        @include flex (flex-start, center);
        text-transform: uppercase;
        color: white;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.009em;
        margin-bottom: 25px;
        div {
            margin-right: 5px;
        }
        .hit {
            background: #FD7272;
            border-radius: 50px;
            padding: 5px 13px;
        }
        .sale {
            background: #E67E22;
            border-radius: 50px;
            padding: 5px 10px;
        }
        .stock {
            background: #27AE60;
            border-radius: 50px;
            padding: 5px 10px;
        }
    }
    .card-img {
        width: 180px;
        height: auto;
        align-self: center;
        margin-bottom: 25px;
    }
    .standart {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.009em;
        color: $coral;
        background: rgba($color: $coral, $alpha: 0.1);
        border-radius: 2px;
        padding: 4px 6px;
        margin-bottom: 25px;
    }
    h3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.009em;
        margin-bottom: 20px;
    }
    .item-price {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.009em;
        margin-bottom: 20px;
    }
}

.mouse {
    transition: 0.3s;
    position: relative;
    box-shadow: 0px 12px 12px 4px rgba(0, 0, 0, 0.1);
    .mouse-on {
        position: absolute;
        border: 1px solid #e6e6e6;
        border-top: none;
        bottom: -60px;
        background: white;
        width: 280px;
        transition: 0.3s;
        box-shadow: 0px 12px 12px 4px rgba(0, 0, 0, 0.1);
        left: -1px;
        
        .item-counter {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            margin-left: 30px;
            * {
            outline: 1px solid #e6e6e6;
            height: 30px;
            &:disabled {
                background: rgba($color: gray, $alpha: 0.1);
            }
            }
            .count-btn {
            width: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            }
            input {
            width: 50px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.009em;
            text-align: center;
            }
        }
        .add-to-cart {
            margin-left: 20px;
            background: $coral;
            border-radius: 4px;
            color: white;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.009em;
            padding: 8px 15px;
            transition: 0.1s;
            &:hover {
                background: rgba($color: $coral, $alpha: 0.8);
                
            }
            &:active {
                background: red;
            }
            &:disabled {
                background: rgba(128, 128, 128, 0.603);
                cursor: default;
            }
        }
    }
    
}