@import "../App/style.scss";

.footer {
    margin-top: 60px;
}

.footer_container {
    margin-bottom: 120px;
    position: relative;
    .feedback {
        position: absolute;
        bottom: -80px;
    }
}  
.footer-img {
    height: 250px;
    background-color: #222628;
    margin: 0 auto;
    @include flex (center, flex-end);
    
} 