@import "../App/style.scss";

.footer {
    margin-top: 60px;
}

.footer_container {
    margin-bottom: 120px;
    position: relative;
    h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.009em;
        margin-bottom: 20px;
    }
    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.009em;
    }
    .hide-desc {
        color: $coral;
        margin-top: 20px;
    }
    .feedback {
        position: absolute;
        bottom: -198px;
    }
}  
.footer-img {
    height: 250px;
    background-color: #222628;
    margin: 0 auto;
    @include flex (center, flex-end);
    img {
    
    }
} 