@import "../../App/style.scss";

.main__body_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    margin-bottom: 80px;
}
.description {
h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.009em;
        margin-bottom: 20px;
    }
p {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.009em;
    }
.hide-desc {
        color: $coral;
        margin-top: 20px;
    }
}
