@import "../../App/style.scss";

.top_container {
    @include flex (space-between, center);
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
    min-height: 50px;
    .top_list {
        @include flex (flex-start, center);
        .top_item {
            margin: 5px 25px 5px 0;
        }
    }
    .top_contacts {
        @include flex (flex-start, center);
        margin: 15px 0;
        .call {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 1px;
            margin-left: 10px;
            &::before {
                position: relative;
                right: 8px;
                top: 1px;
                content: "";
                display: block;
                float: left;
                width: 15px;
                height: 15px;
                background-image: url("./../../../../public/img/call.png");
            }
        }
        .location {
            color: $coral;
            font-weight: 400;
            margin-left: 55px;
            &::before {
                position: relative;
                right: 8px;
                top: -1px;
                content: "";
                display: block;
                float: left;
                width: 11px;
                height: 15px;
                background-image: url("./../../../../public/img/location.png");
            }
        }
        .mail {
            color: #333333;
            margin-left: 65px;
            &::before {
                position: relative;
                right: 8px;
                top: 1px;
                content: "";
                display: block;
                float: left;
                width: 15px;
                height: 11px;
                background-image: url("./../../../../public/img/mail.png");
            }
        }
    }
}

    @media (max-width: 940px) {
        .top_container {
            @include flex (center, center);
            flex-direction: column;
        }
    }

        @media (max-width: 490px) {
            .top_list {
                @include flex (center, center);
                flex-direction: column;
                .top_item {
                    margin: 10px !important;
                }
            }
            .top_contacts {
                @include flex (center, center);
                flex-direction: column;
                div {
                    margin: 10px !important;
                    padding: 0 !important;
                }
            }
    }